<%= bootstrap_form_for @post, html: { multipart: true } do |f| %>
  <% if @post.errors.any? %>
  <div class="post-errors">
    <h3>There are <%= pluralize(@post.errors.count, "error") %> in this post. Please correct them and try again.</h3>
    <ul class="error-bullets">
      <% @post.errors.full_messages.each do |msg| %>
      <li class="error-messages">
        <%= msg %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
<br>
  <div class="form-image">
    <%= image_tag @post.image.url(:medium) %>
  </div>
  <p>
    <%= f.text_field :title, hide_label: true, placeholder: "Post title...(5 character minimum/110 character maximum)", class: "form-field" %>
  </p>
  <p>
    <%= f.text_area :body, hide_label: true, placeholder: "Write your post here...(750 character limit)", class: "form-field" %>
  </p>
  <p>
    <%= f.file_field :image, hide_label: true, class: "upload-button" %>
  </p>
  <div class="button">
  <%= f.submit "PUBLISH", class: "btn btn-cfb" %>
  </div>
<% end %>
