<div class="container show-page">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-borderless">

        <h2 class="form-title">New Post</h2>
        <%= bootstrap_form_for :post, url: posts_path do |f| %>
          <% if @post.errors.any? %>
          <div class="post-errors">
            <h3>There are <%= pluralize(@post.errors.count, "error") %> in this post. Please correct them and try again.</h3>
            <ul class="error-bullets">
              <% @post.errors.full_messages.each do |msg| %>
              <li class="error-messages">
                <%= msg %>
              </li>
              <% end %>
            </ul>
          </div>
          <% end %>
        <br>
          <p>
            <%= f.text_field :title, hide_label: true, placeholder: "Post title", class: "form-field" %>
          </p>
          <p>
            <%= f.text_area :body, hide_label: true, placeholder: "Write your post here...", class: "form-field" %>
          </p>
          <div class="button">
          <%= f.submit "PUBLISH", class: "btn btn-cfb" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
