<div class="container show-page">
  <div class="row">
    <div class="col-xs col-md-6 col-lg-6">
      <div class="panel panel-borderless">

        <h1 class="post-title">
          <%= @post.title %>
        </h1>
        <br>
        <div class="post-image">
          <%= image_tag @post.image.url(:medium) %>
        </div>
        <p class="post-body">
          <%= @post.body %>
        </p>
        <br>
        <div class="post-username">
          <%= @post.user.username %>
        </div>
        <div class="poster-image">
          <div class="img-circle">
            <%= image_tag @post.user.avatar %>
          </div>
        </div>
        <p class="post-date">
          Posted
          <%= time_ago_in_words(@post.created_at) %>
          ago
          <br>
          <%= link_to 'Edit', edit_post_path(@post), class: "links" %> |<%= link_to ' Delete', post_path(@post), method: :delete, data: { confirm: "Are you sure about this?" },  class: "links" %>
        </p>

      </div>
    </div>
    <div class="col-xs col-md-6 col-lg-6">
      <div class="panel panel-borderless">

        <div class="comments">
          <h3 class="comment-counter"><%= pluralize(@post.comments.count, "Comment") %></h3>
          <%= render @post.comments %>
          <h3 class="comment-header">Leave A Comment</h3>
          <%= render "comments/form" %>
        </div>

      </div>
    </div>
  </div>
</div>
